<h1>{{title}}</h1>
<p>Bem-vindo à página de {{title}}</p>

<h2>🍔 Lista de Comidas</h2>

<ul>
    <li>🍕 Pizza</li>
    <li>🍔 Hambúrguer</li>
    <li>🍟 Batata Frita</li>
    <li>🌮 Taco</li>
    <li>🍣 Sushi</li>
</ul>