<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <style>
        body{
            font-family: Arial;
            background:#f4f4f4;
            text-align:center;
        }

        h1{
            color:#333;
        }

        .card{
            background:white;
            width:300px;
            margin:30px auto;
            padding:20px;
            border-radius:10px;
            box-shadow:0 0 10px rgba(0,0,0,0.1);
        }
    </style>
</head>

<body>

<h1><%= title %></h1>
<p>Sub-rota: Bola de Futebol</p>

<div class="card">
    <h2>⚽ Bola de Futebol</h2>
    <p>A bola de futebol é utilizada no esporte futebol e é feita de couro ou material sintético.</p>
</div>

</body>
</html>