<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <style>
        body{
            font-family: Arial;
            background:#f4f4f4;
            text-align:center;
        }

        h1{
            color:#333;
        }

        .card{
            background:white;
            width:250px;
            margin:20px auto;
            padding:20px;
            border-radius:10px;
            box-shadow:0 0 10px rgba(0,0,0,0.1);
        }
    </style>
</head>

<body>

<h1><%= title %></h1>

<div class="card">
    <h2>⚽ Futebol</h2>
    <p>Esporte mais popular do mundo.</p>
</div>

<div class="card">
    <h2>🏀 Basquete</h2>
    <p>Jogado com bola e cesta.</p>
</div>

<div class="card">
    <h2>🏐 Vôlei</h2>
    <p>Esporte de rede muito popular no Brasil.</p>
</div>

</body>
</html>